* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.click-event-box {
  display: flex;
  gap: 5px;
  width: 90%;
  margin: 30px auto auto;
}

section {
  background-color: red;
  display: flex;
  width: 300px;
  margin: auto;
  gap: 30px;
  justify-content: space-evenly;

  margin-top: 16px;
}

.array {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 100%;
  border: 2px solid black;
  height: 300px;
}
